<div class="header-user g-flex-h-center" nz-dropdown nzPlacement="bottomRight" [nzDropdownMenu]="userMenu">
  <nz-avatar nzSrc="assets/images/avatar.png" [nzSize]="40"></nz-avatar>
  <i nz-icon nzType="caret-down" nzTheme="outline" style="color:#999;"></i>
</div>
<nz-dropdown-menu #userMenu="nzDropdownMenu">
  <div nz-menu>
    <div nz-menu-item routerLink="/admin/user_center">
      <i nz-icon nzType="user"></i>
      <span>个人中心</span>
    </div>
    <div nz-menu-item routerLink="/admin/user_setting">
      <i nz-icon nzType="setting"></i>
      <span>个人设置</span>
    </div>
    <div nz-menu-item (click)="logout()">
      <i nz-icon nzType="logout"></i>
      <span>退出登录</span>
    </div>
  </div>
</nz-dropdown-menu>
