<page-header></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" class="search__form ">
    <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="id">文章编号</nz-form-label>
          <nz-form-control>
            <input nz-input name="id" placeholder="请输入" id="id" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="id">文章分类</nz-form-label>
          <nz-form-control>
            <input nz-input name="id" placeholder="请输入" id="id" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="id">发表时间</nz-form-label>
          <nz-form-control>
            <input nz-input name="id" placeholder="请输入" id="id" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <nz-form-item>
          <nz-form-label nzFor="status">文章状态</nz-form-label>
          <nz-form-control>
            <nz-select [nzPlaceHolder]="'请选择'" nzId="status">
              <nz-option [nzLabel]="'启用'" [nzValue]="0"></nz-option>
              <nz-option [nzLabel]="'禁用'" [nzValue]="1"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzMd="8" nzSm="24">
        <button nz-button type="submit" [nzType]="'primary'">查询</button>
        <button nz-button type="reset" style="margin: 0 8px;">重置</button>
      </div>

    </div>
  </form>
  <button nz-button (click)="add()" [nzType]="'primary'">
    <i nz-icon nzType="plus"></i>
    <span>新建</span>
  </button>


  <nz-table #table [nzData]="posts" [nzLoading] style="margin-top:20px" [nzScroll]="{ x: '850px' }">
    <thead>
      <tr>
        <th nzWidth="100px">文章编号</th>
        <th nzWidth="150px">标题</th>
        <th nzWidth="150px">分类</th>
        <th nzWidth="150px">发表时间</th>
        <th nzWidth="150px">阅读次数</th>
        <th nzWidth="150px" nzRight="0px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of table.data">
<!--        <td>{{ data.id }}</td>-->
<!--        <td>{{ data.title }}</td>-->
<!--        <td>{{ data?.categories.join(',') }}</td>-->
<!--        <td>{{ data.date |date:'yyyy-MM-dd HH:mm:ss' }}</td>-->
<!--        <td>{{ data.visitors }}</td>-->
<!--        <td nzRight="0px">-->
<!--          <a (click)="edit(data)">编辑</a>-->
<!--          <nz-divider nzType="vertical"></nz-divider>-->
<!--          <a (click)="delete(data.menuId)">删除</a>-->
<!--        </td>-->
      </tr>
    </tbody>
  </nz-table>


</nz-card>
